@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Prosto+One&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #282828;
  --color-primary-on: #ffffff;
  --color-secondary: #c3b212;
  --color-secondary-on: #000000;
  --color-background: #fefefe;
  --color-background-variant: #f4f4f4;
  --color-outline: #a0a0a0;
}

.dark {
  --color-primary: #fefefe;
  --color-primary-on: #000000;
  --color-secondary: #d4c213;
  --color-secondary-on: #000000;
  --color-background: #1a1a1a;
  --color-background-variant: #242424;
  --color-outline: #5a5a5a;
}

header.shadow {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

.dark header.shadow {
  box-shadow: 0 2px 8px rgba(80, 79, 79, 0.1);
}
